ElronService/Connected Services/DefterBilgi/DBBSMM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://defterbelgebilgi.nps.tnb.org.tr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://defterbelgebilgi.nps.tnb.org.tr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://defterbelgebilgi.nps.tnb.org.tr/">
      <s:element name="DefterListeOlustur">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="defterlisteBilgi" type="tns:DefterListeBilgi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DefterListeBilgi">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DefterListeNO" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="KayitAcilisZamani" type="tns:Zaman" />
          <s:element minOccurs="1" maxOccurs="1" name="KimlikNOTipi" type="tns:KimlikNOTipi" />
          <s:element minOccurs="0" maxOccurs="1" name="KimlikNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoterlikKullaniciAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoterlikKodu" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Zaman">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Yil" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Gun" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Saat" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Dakika" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Saniye" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="KimlikNOTipi">
        <s:restriction base="s:string">
          <s:enumeration value="Belirtilmemis" />
          <s:enumeration value="TCKN" />
          <s:enumeration value="VKN" />
          <s:enumeration value="MTKN" />
          <s:enumeration value="TCSN" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DefterListeOlusturResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterListeOlusturResult" type="tns:DefterListeOlusturServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DefterListeOlusturServisSonuc">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServisSonuc">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DefterListeNO" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServisSonuc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SonucKod" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="SonucAciklama" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DisBiletHeader" type="tns:DisBiletHeader" />
      <s:complexType name="DisBiletHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisBilet" type="tns:DisBilet" />
          <s:element minOccurs="1" maxOccurs="1" name="IstemciZamani" type="s:dateTime" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="DisBilet">
        <s:complexContent mixed="false">
          <s:extension base="tns:Kayit">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="NPSBelgeNO" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="VerilisTarihi" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Islemtipi" type="tns:NPSIslemTipi" />
              <s:element minOccurs="0" maxOccurs="1" name="KimlikNO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="KimlikNOTipi" type="tns:KimlikNOTipi" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Kayit" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KayitDurumu" type="tns:DataRowState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DataRowState">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="Detached" />
              <s:enumeration value="Unchanged" />
              <s:enumeration value="Added" />
              <s:enumeration value="Deleted" />
              <s:enumeration value="Modified" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:simpleType name="NPSIslemTipi">
        <s:restriction base="s:string">
          <s:enumeration value="Belirtilmemis" />
          <s:enumeration value="AracSatisi" />
          <s:enumeration value="DefterOnayi" />
          <s:enumeration value="SendikaUyelik" />
          <s:enumeration value="BelgeOnayi" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ServisHataHeader" type="tns:ServisHataHeader" />
      <s:complexType name="ServisHataHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServisHata" type="tns:ServisHata" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="ServisHata">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mesaj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Kod" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DefterListeSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kimlikNO" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="kimlikNOTipi" type="tns:KimlikNOTipi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterListeSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterListeSorgulaResult" type="tns:DefterListeSorgulaServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DefterListeSorgulaServisSonuc">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServisSonuc">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DefterListeListesi" type="tns:ArrayOfDefterListeBilgi" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDefterListeBilgi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DefterListeBilgi" nillable="true" type="tns:DefterListeBilgi" />
        </s:sequence>
      </s:complexType>
      <s:element name="DefterListesiDefterSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="defterListeNO" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterListesiDefterSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterListesiDefterSorgulaResult" type="tns:DefterListesiDefterSorgulaServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DefterListesiDefterSorgulaServisSonuc">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServisSonuc">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DefterGeciciListe" type="tns:ArrayOfDefterGeciciBilgi" />
              <s:element minOccurs="1" maxOccurs="1" name="DefterGeciciAdet" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDefterGeciciBilgi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DefterGeciciBilgi" nillable="true" type="tns:DefterGeciciBilgi" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DefterGeciciBilgi">
        <s:complexContent mixed="false">
          <s:extension base="tns:DefterBilgi">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DefterListeNO" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="TakimNO" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="YevmiyeBildirildiMi" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Mukellef" type="tns:Mukellef" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DefterBilgi">
        <s:complexContent mixed="false">
          <s:extension base="tns:Defter">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="NPSBelgeNO" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Defter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OnayTipi" type="tns:DefterOnayTipi" />
          <s:element minOccurs="1" maxOccurs="1" name="OnaySayfaSayisi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NeviTipi" type="tns:DefterNeviTipi" />
          <s:element minOccurs="1" maxOccurs="1" name="Donem" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="TekCift" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="BaslangicSayfaNO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BitisSayfaNO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DefterMesruatAdi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AraOnayGoruldu" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DefterOnayTipi">
        <s:restriction base="s:string">
          <s:enumeration value="Belirtilmemis" />
          <s:enumeration value="Acilis" />
          <s:enumeration value="Ara" />
          <s:enumeration value="YeniIseBaslama" />
          <s:enumeration value="EkTasdik" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DefterNeviTipi">
        <s:restriction base="s:string">
          <s:enumeration value="Belirtilmemis" />
          <s:enumeration value="DigerDefter" />
          <s:enumeration value="YevmiyeDefteri" />
          <s:enumeration value="EnvanterDefteri" />
          <s:enumeration value="IsletmeDefteri" />
          <s:enumeration value="CiftciIsletmeDefteri" />
          <s:enumeration value="ImalatveIstihsalVergisiDefteri" />
          <s:enumeration value="NakliyatVergisiDefteri" />
          <s:enumeration value="YabanciNakliyatHasilatDefteri" />
          <s:enumeration value="SerbestMeslekKazancDefteri" />
          <s:enumeration value="DamgaVergisiDefteri" />
          <s:enumeration value="IsletmeTuruDigerDefter" />
          <s:enumeration value="BilancoTuruDigerDefter" />
          <s:enumeration value="DefteriKebir" />
          <s:enumeration value="KararDefteri" />
          <s:enumeration value="OrtaklarPayDefteri" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Mukellef">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KimlikNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KimlikNOTipi" type="tns:KimlikNOTipi" />
          <s:element minOccurs="0" maxOccurs="1" name="VergiDairesiKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VergiDairesiAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EkBilgi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Meslek" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCSN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SirketTipi" type="tns:SirketTipleri" />
          <s:element minOccurs="1" maxOccurs="1" name="TaahhutSermaye" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OdenenSermaye" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TacirMi" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TSMudurluguAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TSMudurluguKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TSTasdiknameBelgeTarihi" type="tns:Zaman" />
          <s:element minOccurs="1" maxOccurs="1" name="TSTasdiknameBelgeTarihiSuresiGecmis" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SirketTipleri">
        <s:restriction base="s:string">
          <s:enumeration value="Belirtilmemis" />
          <s:enumeration value="GercekKisi" />
          <s:enumeration value="AdiOrtaklik" />
          <s:enumeration value="KollektifSirket" />
          <s:enumeration value="AdiKomanditSirket" />
          <s:enumeration value="EshamliKomanditSirket" />
          <s:enumeration value="LTDSirket" />
          <s:enumeration value="AnonimSirket" />
          <s:enumeration value="KooperatifSirket" />
          <s:enumeration value="DigerSirket" />
          <s:enumeration value="YabanciKisi" />
          <s:enumeration value="Secilmemis" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DefterTakimBildir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="defterTakimBilgi" type="tns:DefterTakimBilgi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DefterTakimBilgi">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DefterListeNO" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Mukellef" type="tns:Mukellef" />
          <s:element minOccurs="0" maxOccurs="1" name="Takim" type="tns:ArrayOfDefterBilgi" />
          <s:element minOccurs="1" maxOccurs="1" name="TakimNO" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDefterBilgi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DefterBilgi" nillable="true" type="tns:DefterBilgi" />
        </s:sequence>
      </s:complexType>
      <s:element name="DefterTakimBildirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterTakimBildirResult" type="tns:ServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterTakimTasi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="takimNO" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="tasinacakDefterListeNO" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterTakimTasiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterTakimTasiResult" type="tns:ServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterGuncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="defterBilgi" type="tns:DefterBilgi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterGuncelleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterGuncelleResult" type="tns:ServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterListeSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="defterListeNO" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterListeSilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterListeSilResult" type="tns:ServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterTakimSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kimlikNO" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="kimlikNOTipi" type="tns:KimlikNOTipi" />
            <s:element minOccurs="1" maxOccurs="1" name="defterListeNO" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="takimNO" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterTakimSilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterTakimSilResult" type="tns:ServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterTakimMukellefGuncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mukellef" type="tns:Mukellef" />
            <s:element minOccurs="1" maxOccurs="1" name="defterListeNo" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="takimNO" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterTakimMukellefGuncelleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterTakimMukellefGuncelleResult" type="tns:ServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="npsBelgeNO" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterSilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterSilResult" type="tns:ServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterListeMesruatBilgiSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="defterlisteNO" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterListeMesruatBilgiSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterListeMesruatBilgiSorgulaResult" type="tns:DefterMesruatBilgiSorgulaServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DefterMesruatBilgiSorgulaServisSonuc">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServisSonuc">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DefterOnayListe" type="tns:ArrayOfDefterOnayYevmiyeBilgi" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDefterOnayYevmiyeBilgi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DefterOnayYevmiyeBilgi" nillable="true" type="tns:DefterOnayYevmiyeBilgi" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DefterOnayYevmiyeBilgi">
        <s:complexContent mixed="false">
          <s:extension base="tns:DefterBilgi">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Mukellef" type="tns:Mukellef" />
              <s:element minOccurs="0" maxOccurs="1" name="NPSBildirimReferansNO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NoterlikKodu" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="YevmiyeTarihi" type="tns:Zaman" />
              <s:element minOccurs="1" maxOccurs="1" name="YevmiyeNO" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NoterTCKN" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="VezneAnaKod" type="s:short" />
              <s:element minOccurs="1" maxOccurs="1" name="VezneAltKod" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="YevmiyeBildirimZamani" type="tns:Zaman" />
              <s:element minOccurs="0" maxOccurs="1" name="YevmiyeReferansNO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Secili" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="TakimNO" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="MesruatMetin" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BildirimZamani" type="tns:Zaman" />
              <s:element minOccurs="0" maxOccurs="1" name="BildirimOid" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="GIBBildirimAsamasinda" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="OpsiyonSuresiIcindeMi" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="GIBBildirildi" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="DefterTakimMesruatBilgiSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="defterListeNO" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="takimNO" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterTakimMesruatBilgiSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterTakimMesruatBilgiSorgulaResult" type="tns:DefterMesruatBilgiSorgulaServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterMesruatBilgiSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="npsBelgeNO" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterMesruatBilgiSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterMesruatBilgiSorgulaResult" type="tns:DefterMesruatBilgiSorgulaServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterTakimListesiSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="defterListeNo" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefterTakimListesiSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefterTakimListesiSorgulaResult" type="tns:DefterTakimListesiSorgulaServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DefterTakimListesiSorgulaServisSonuc">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServisSonuc">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DefterTakimBilgilistesi" type="tns:ArrayOfDefterTakimBilgi" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDefterTakimBilgi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DefterTakimBilgi" nillable="true" type="tns:DefterTakimBilgi" />
        </s:sequence>
      </s:complexType>
      <s:element name="MaliMusavirSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="musavirKimlikNO" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="musavirKimlikNOTipi" type="tns:KimlikNOTipi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MaliMusavirSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MaliMusavirSorgulaResult" type="tns:MaliMusavirSorgulaServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MaliMusavirSorgulaServisSonuc">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServisSonuc">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MaliMusavir" type="tns:MaliMusavir" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MaliMusavir">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Unvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KimlikNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KimlikNOTipi" type="tns:KimlikNOTipi" />
          <s:element minOccurs="0" maxOccurs="1" name="EPosta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MaliMusavirBilgiDuzenle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maliMusavir" type="tns:MaliMusavir" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MaliMusavirBilgiDuzenleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MaliMusavirBilgiDuzenleResult" type="tns:ServisSonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaglantiTesti">
        <s:complexType />
      </s:element>
      <s:element name="BaglantiTestiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BaglantiTestiResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DefterListeOlusturSoapIn">
    <wsdl:part name="parameters" element="tns:DefterListeOlustur" />
  </wsdl:message>
  <wsdl:message name="DefterListeOlusturSoapOut">
    <wsdl:part name="parameters" element="tns:DefterListeOlusturResponse" />
  </wsdl:message>
  <wsdl:message name="DefterListeOlusturDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterListeOlusturServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterListeSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:DefterListeSorgula" />
  </wsdl:message>
  <wsdl:message name="DefterListeSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:DefterListeSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="DefterListeSorgulaDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterListeSorgulaServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterListesiDefterSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:DefterListesiDefterSorgula" />
  </wsdl:message>
  <wsdl:message name="DefterListesiDefterSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:DefterListesiDefterSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="DefterListesiDefterSorgulaDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterListesiDefterSorgulaServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimBildirSoapIn">
    <wsdl:part name="parameters" element="tns:DefterTakimBildir" />
  </wsdl:message>
  <wsdl:message name="DefterTakimBildirSoapOut">
    <wsdl:part name="parameters" element="tns:DefterTakimBildirResponse" />
  </wsdl:message>
  <wsdl:message name="DefterTakimBildirDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimBildirServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimTasiSoapIn">
    <wsdl:part name="parameters" element="tns:DefterTakimTasi" />
  </wsdl:message>
  <wsdl:message name="DefterTakimTasiSoapOut">
    <wsdl:part name="parameters" element="tns:DefterTakimTasiResponse" />
  </wsdl:message>
  <wsdl:message name="DefterTakimTasiDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimTasiServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterGuncelleSoapIn">
    <wsdl:part name="parameters" element="tns:DefterGuncelle" />
  </wsdl:message>
  <wsdl:message name="DefterGuncelleSoapOut">
    <wsdl:part name="parameters" element="tns:DefterGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="DefterGuncelleDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterGuncelleServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterListeSilSoapIn">
    <wsdl:part name="parameters" element="tns:DefterListeSil" />
  </wsdl:message>
  <wsdl:message name="DefterListeSilSoapOut">
    <wsdl:part name="parameters" element="tns:DefterListeSilResponse" />
  </wsdl:message>
  <wsdl:message name="DefterListeSilDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterListeSilServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimSilSoapIn">
    <wsdl:part name="parameters" element="tns:DefterTakimSil" />
  </wsdl:message>
  <wsdl:message name="DefterTakimSilSoapOut">
    <wsdl:part name="parameters" element="tns:DefterTakimSilResponse" />
  </wsdl:message>
  <wsdl:message name="DefterTakimSilDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimSilServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimMukellefGuncelleSoapIn">
    <wsdl:part name="parameters" element="tns:DefterTakimMukellefGuncelle" />
  </wsdl:message>
  <wsdl:message name="DefterTakimMukellefGuncelleSoapOut">
    <wsdl:part name="parameters" element="tns:DefterTakimMukellefGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="DefterTakimMukellefGuncelleDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimMukellefGuncelleServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterSilSoapIn">
    <wsdl:part name="parameters" element="tns:DefterSil" />
  </wsdl:message>
  <wsdl:message name="DefterSilSoapOut">
    <wsdl:part name="parameters" element="tns:DefterSilResponse" />
  </wsdl:message>
  <wsdl:message name="DefterSilDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterSilServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterListeMesruatBilgiSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:DefterListeMesruatBilgiSorgula" />
  </wsdl:message>
  <wsdl:message name="DefterListeMesruatBilgiSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:DefterListeMesruatBilgiSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="DefterListeMesruatBilgiSorgulaDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterListeMesruatBilgiSorgulaServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimMesruatBilgiSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:DefterTakimMesruatBilgiSorgula" />
  </wsdl:message>
  <wsdl:message name="DefterTakimMesruatBilgiSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:DefterTakimMesruatBilgiSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="DefterTakimMesruatBilgiSorgulaDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimMesruatBilgiSorgulaServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterMesruatBilgiSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:DefterMesruatBilgiSorgula" />
  </wsdl:message>
  <wsdl:message name="DefterMesruatBilgiSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:DefterMesruatBilgiSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="DefterMesruatBilgiSorgulaDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterMesruatBilgiSorgulaServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimListesiSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:DefterTakimListesiSorgula" />
  </wsdl:message>
  <wsdl:message name="DefterTakimListesiSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:DefterTakimListesiSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="DefterTakimListesiSorgulaDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="DefterTakimListesiSorgulaServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="MaliMusavirSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:MaliMusavirSorgula" />
  </wsdl:message>
  <wsdl:message name="MaliMusavirSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:MaliMusavirSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="MaliMusavirSorgulaDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="MaliMusavirSorgulaServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="MaliMusavirBilgiDuzenleSoapIn">
    <wsdl:part name="parameters" element="tns:MaliMusavirBilgiDuzenle" />
  </wsdl:message>
  <wsdl:message name="MaliMusavirBilgiDuzenleSoapOut">
    <wsdl:part name="parameters" element="tns:MaliMusavirBilgiDuzenleResponse" />
  </wsdl:message>
  <wsdl:message name="MaliMusavirBilgiDuzenleDisBiletHeader">
    <wsdl:part name="DisBiletHeader" element="tns:DisBiletHeader" />
  </wsdl:message>
  <wsdl:message name="MaliMusavirBilgiDuzenleServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:message name="BaglantiTestiSoapIn">
    <wsdl:part name="parameters" element="tns:BaglantiTesti" />
  </wsdl:message>
  <wsdl:message name="BaglantiTestiSoapOut">
    <wsdl:part name="parameters" element="tns:BaglantiTestiResponse" />
  </wsdl:message>
  <wsdl:message name="BaglantiTestiServisHataHeader">
    <wsdl:part name="ServisHataHeader" element="tns:ServisHataHeader" />
  </wsdl:message>
  <wsdl:portType name="DBBSMMSoap">
    <wsdl:operation name="DefterListeOlustur">
      <wsdl:input message="tns:DefterListeOlusturSoapIn" />
      <wsdl:output message="tns:DefterListeOlusturSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterListeSorgula">
      <wsdl:input message="tns:DefterListeSorgulaSoapIn" />
      <wsdl:output message="tns:DefterListeSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterListesiDefterSorgula">
      <wsdl:input message="tns:DefterListesiDefterSorgulaSoapIn" />
      <wsdl:output message="tns:DefterListesiDefterSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterTakimBildir">
      <wsdl:input message="tns:DefterTakimBildirSoapIn" />
      <wsdl:output message="tns:DefterTakimBildirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterTakimTasi">
      <wsdl:input message="tns:DefterTakimTasiSoapIn" />
      <wsdl:output message="tns:DefterTakimTasiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterGuncelle">
      <wsdl:input message="tns:DefterGuncelleSoapIn" />
      <wsdl:output message="tns:DefterGuncelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterListeSil">
      <wsdl:input message="tns:DefterListeSilSoapIn" />
      <wsdl:output message="tns:DefterListeSilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterTakimSil">
      <wsdl:input message="tns:DefterTakimSilSoapIn" />
      <wsdl:output message="tns:DefterTakimSilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterTakimMukellefGuncelle">
      <wsdl:input message="tns:DefterTakimMukellefGuncelleSoapIn" />
      <wsdl:output message="tns:DefterTakimMukellefGuncelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterSil">
      <wsdl:input message="tns:DefterSilSoapIn" />
      <wsdl:output message="tns:DefterSilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterListeMesruatBilgiSorgula">
      <wsdl:input message="tns:DefterListeMesruatBilgiSorgulaSoapIn" />
      <wsdl:output message="tns:DefterListeMesruatBilgiSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterTakimMesruatBilgiSorgula">
      <wsdl:input message="tns:DefterTakimMesruatBilgiSorgulaSoapIn" />
      <wsdl:output message="tns:DefterTakimMesruatBilgiSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterMesruatBilgiSorgula">
      <wsdl:input message="tns:DefterMesruatBilgiSorgulaSoapIn" />
      <wsdl:output message="tns:DefterMesruatBilgiSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefterTakimListesiSorgula">
      <wsdl:input message="tns:DefterTakimListesiSorgulaSoapIn" />
      <wsdl:output message="tns:DefterTakimListesiSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MaliMusavirSorgula">
      <wsdl:input message="tns:MaliMusavirSorgulaSoapIn" />
      <wsdl:output message="tns:MaliMusavirSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MaliMusavirBilgiDuzenle">
      <wsdl:input message="tns:MaliMusavirBilgiDuzenleSoapIn" />
      <wsdl:output message="tns:MaliMusavirBilgiDuzenleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BaglantiTesti">
      <wsdl:input message="tns:BaglantiTestiSoapIn" />
      <wsdl:output message="tns:BaglantiTestiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBBSMMSoap" type="tns:DBBSMMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DefterListeOlustur">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListeOlustur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListeOlusturDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListeOlusturServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterListeSorgula">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListeSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListeSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListeSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterListesiDefterSorgula">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListesiDefterSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListesiDefterSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListesiDefterSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimBildir">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimBildir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimBildirDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimBildirServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimTasi">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimTasi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimTasiDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimTasiServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterGuncelle">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterGuncelleDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterGuncelleServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterListeSil">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListeSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListeSilDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListeSilServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimSil">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimSilDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimSilServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimMukellefGuncelle">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimMukellefGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimMukellefGuncelleDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimMukellefGuncelleServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterSil">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterSilDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterSilServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterListeMesruatBilgiSorgula">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListeMesruatBilgiSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListeMesruatBilgiSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterListeMesruatBilgiSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimMesruatBilgiSorgula">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimMesruatBilgiSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimMesruatBilgiSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimMesruatBilgiSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterMesruatBilgiSorgula">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterMesruatBilgiSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterMesruatBilgiSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterMesruatBilgiSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimListesiSorgula">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimListesiSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimListesiSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DefterTakimListesiSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaliMusavirSorgula">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/MaliMusavirSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:MaliMusavirSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:MaliMusavirSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaliMusavirBilgiDuzenle">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/MaliMusavirBilgiDuzenle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:MaliMusavirBilgiDuzenleDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:MaliMusavirBilgiDuzenleServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaglantiTesti">
      <soap:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/BaglantiTesti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:BaglantiTestiServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DBBSMMSoap12" type="tns:DBBSMMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DefterListeOlustur">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListeOlustur" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListeOlusturDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListeOlusturServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterListeSorgula">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListeSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListeSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListeSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterListesiDefterSorgula">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListesiDefterSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListesiDefterSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListesiDefterSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimBildir">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimBildir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimBildirDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimBildirServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimTasi">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimTasi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimTasiDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimTasiServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterGuncelle">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterGuncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterGuncelleDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterGuncelleServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterListeSil">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListeSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListeSilDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListeSilServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimSil">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimSilDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimSilServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimMukellefGuncelle">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimMukellefGuncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimMukellefGuncelleDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimMukellefGuncelleServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterSil">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterSilDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterSilServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterListeMesruatBilgiSorgula">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterListeMesruatBilgiSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListeMesruatBilgiSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterListeMesruatBilgiSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimMesruatBilgiSorgula">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimMesruatBilgiSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimMesruatBilgiSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimMesruatBilgiSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterMesruatBilgiSorgula">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterMesruatBilgiSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterMesruatBilgiSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterMesruatBilgiSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefterTakimListesiSorgula">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/DefterTakimListesiSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimListesiSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DefterTakimListesiSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaliMusavirSorgula">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/MaliMusavirSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:MaliMusavirSorgulaDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:MaliMusavirSorgulaServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaliMusavirBilgiDuzenle">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/MaliMusavirBilgiDuzenle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:MaliMusavirBilgiDuzenleDisBiletHeader" part="DisBiletHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:MaliMusavirBilgiDuzenleServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaglantiTesti">
      <soap12:operation soapAction="http://defterbelgebilgi.nps.tnb.org.tr/BaglantiTesti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:BaglantiTestiServisHataHeader" part="ServisHataHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBBSMM">
    <wsdl:port name="DBBSMMSoap" binding="tns:DBBSMMSoap">
      <soap:address location="http://smmmservis.tnb.org.tr/DefterBelgeBilgiServisiMM/DBBSMM.asmx" />
    </wsdl:port>
    <wsdl:port name="DBBSMMSoap12" binding="tns:DBBSMMSoap12">
      <soap12:address location="http://smmmservis.tnb.org.tr/DefterBelgeBilgiServisiMM/DBBSMM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>